<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home page for Steven W">
    <title>Steven W - $title$</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Motserrat:500|Dosis">
    <script type="text/javascript" src="js/default.js"></script>
</head>
<body>
    $body$
</body>
</html>
