    <header class="default banner">
        <a class="default-text banner-left" href="/">
            <h1 class="header-title">Steven W.</h1>
        </a>
        <div class="banner-middle">
            <!-- I realize that using this div just for the seperator is a bit janky, but I'll improve it later -->
        </div>
        <nav class="banner-right">
            <ul class="default-list">
                <li>
                    <a class="default-text" href="/about.html">About</a>
                </li>
                <li>
                    <a class="default-text" href="/projects.html">Projects</a>
                </li>
                <li>
                    <a class="default-text" href="/archive.html">Archive</a>
                </li>
            </ul>
        </nav>
    </header>
